


*{ margin: 0px ;
    padding: 0px;
    max-width: 100%;
    scroll-behavior: smooth;
}



body {
  font-family: "Lato", sans-serif;
}

.header{
  top: 0;
  height: 50%;
  background-color: #cecece;
    display: flex;
    justify-content: start;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    position: sticky;
    }
.header .logo img{
  width: 100px;
}
    h1{
  font-size: 40px;
}

h3{
  color: white;
  padding: 10px;
}
.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 17px;
  margin-top: 95px;
  
}

.sidenav a {
  padding: 14px 10px 10px 14px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

nav li a{
  list-style-type: none;
}

h2 {
  margin-left: 325px;
  margin-top: 30px;
}

#main-doc {
  margin-left: 275px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding-left: 50px;
   margin-top: 17px;

}
#main-doc li {
  font-size: 15px;
  padding: 10px 0 10px 0;
}


code{
    
    text-align: left;
    white-space: pre-line;
    
    word-break: normal;
    word-wrap: normal;
    
    background-color: #f7ebddf2;
  
    
    border-radius: 5px;
    font-family: monospace;
    font-size: 20px;
    
}
p{
  font-size: 14px;
  padding: 10px 0 10px 0;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 20px;}
}