body {
  scroll-behavior: smooth;
    margin:0;
    padding: 0;
    overflow-x: hidden;
}
.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff;
}
.nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
}
.home {
 background: url('https://images.pexels.com/photos/417173/pexels-photo-417173.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260');
    min-height: 700px;
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}
.dark-overlay {
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 700px;
    
}
.home-inner {
    padding-top: 150px;
}
.info-header {
    width: 50%;
    margin:auto;
    border-bottom: 1px #ddd solid;
}
.card-body img {
    margin-top:-50px;
}
.card-body .fa {
    font-size:25px;
    
}
.card:hover {
    background: #3292a6;
    color: #fff;
   }
.card:hover .fa {
    color:#fff;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
 